.additional-good {
  color: $usual-text-color;
}

.additional-good__title {
  font-family: $important-text-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.additional-good__volume-price-wrapper {
  font-size: 14px;
  line-height: 14px;
}
