.example {
	margin: 0 ($page-padding-mobile * -1);
	padding: 25px $page-padding-mobile 49px;

	background-color: #eaeaea;
}

.example__title {
	margin: 0;
	margin-bottom: 40px;
}

.example__description {
	margin: 0;
	margin-bottom: 20px;
}

.example__costs {
	font-size: 14px;
	font-family: $important-text-font;
	line-height: 20px;
	color: $important-text-color;
	text-transform: uppercase;
}
