.food-type {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 24px 20px 18px;

  background-color: $extra-muted-color;
}

.food-type::after {
  display: block;
  content: "";
  grid-column: 1 / -1;
  margin-bottom: 15px;
  height: 1px;

  background-color: #d9d9d9;
}

.food-type__bg-picture-container {
  position: relative;
  width: 68px;
  height: 53px;
}

.food-type__bg-picture-container::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);

  width: 50px;
  height: 50px;

  background-color: $main-color;
  border-radius: 50%;
}

.food-type__bg-picture-container::after {
  position: absolute;
  content: "";
  left: -10px;

  width: 100%;
  height: 53px;
}

.food-type:nth-of-type(1) .food-type__bg-picture-container::after {
  top: -3px;

  background-image: url("../../icons/stack.svg#cat-losing-weight");
}

.food-type:nth-of-type(2) .food-type__bg-picture-container::after {
  background-image: url("../../icons/stack.svg#cat-gaining-mass");
}

.food-type__title {
  margin: 0;

  font-family: $important-text-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $important-text-color;
  text-transform: uppercase;
}

.food-type__description {
  grid-column: 1 / -1;
  margin: 22px 0 23px;
}

.food-type__link {
  display: flex;
  align-items: center;
  gap: 15px;
  grid-column: 1 / -1;
  align-self: start;
  order: 1;
  padding: 4px 0;

  font-family: $important-text-font;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.food-type__link::after {
  display: block;
  content: "";
  width: 24px;
  height: 12px;

  background-image: url("../../icons/stack.svg#arrow-right");
}
