.hero {
	color: #ffffff;

	background-color: rgba($basic-green, 0.85);
}

.hero__title {
	font-size: 36px;
	line-height: 36px;

}

.hero__think-of-cat {
	line-height: 14px;
	text-transform: uppercase;
}
