.navigation {
  font-family: $important-text-font;
}

.navigation__list {
  display: none;
}

.navigation__item {
  font-size: 20px;
  line-height: 20px;
  color: $important-text-color;
  text-transform: uppercase;
  text-decoration: none;

  & a {
    text-decoration: none;
  }
}

.navigation__menu-toggle {
  width: 24px;
  height: 24px;

  background-color: transparent;
  background-image: url("../../icons/stack.svg#hamburger");
  border: none;
}

.navigation--open {
  .navigation__menu-toggle {
    background-image: url("../../icons/stack.svg#close-button");
  }
}

