.navigation {
  font-family: $important-text-font;
}

.navigation__item {
  font-size: 20px;
  line-height: 20px;
  color: $important-text-color;
  text-transform: uppercase;
  text-decoration: none;

  & a {
    text-decoration: none;
  }
}
