.results__term {
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
}

.results__definition {
  font-family: $important-text-font;
  font-size: 24px;
  line-height: 24px;
  color: $important-text-color;
}
