.section-heading {
  font-size: 36px;
  font-family: $important-text-font;
  line-height: 40px;
  color: $important-text-color;
}

.section-heading--smaller {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}
