.social-links {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.social-links__link {
  display: block;
  width: 27px;
  height: 19px;
}

.social-links__link::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;

  -webkit-mask: no-repeat center;
  mask: no-repeat center;
  background-color: $muted-color;
}

.social-links__link:hover::before,
.social-links__link:focus::before {
  background-color: $main-color;
}

.social-links__link:active::before {
  opacity: 0.3;
}

.social-links__link--vk::before {
  $image-link: url("../../icons/stack.svg#socials-vk");
  -webkit-mask-image: $image-link;
  mask-image: $image-link;
}

.social-links__link--youtube::before {
  $image-link: url("../../icons/stack.svg#socials-youtube");
  -webkit-mask-image: $image-link;
  mask-image: $image-link;
}

.social-links__link--telegram::before {
  $image-link: url("../../icons/stack.svg#socials-telegram");
  -webkit-mask-image: $image-link;
  mask-image: $image-link;
}
